.box {
    max-width: 1400px;
    min-width: none;
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
}
#wrap {
    flex-wrap: wrap;
}
/* header {
    width: 8rem;
    margin: 20px auto 0;
} */
.item {
    position: relative;
    width: 640px;
    min-width: 30vh;
    height: auto;
    padding: 15px 20px;
    margin: 10px auto;
    border: 1px solid slateblue;
}
button {
    background: rgba(255, 255, 255, 0.7);
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-radius: 30px;
    cursor: pointer;
}
button:hover {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    transition: 0.5s;
}
.over {
    position:  absolute;
    left: 30px;
    bottom: 30px;
}
.hide {
    /* position:  absolute;
    left: 30px;
    top: 394px; */
    margin: 10px 0;
} 
.detail {
    /* width: 500px; */
    text-align: justify;
    line-height: 1.8em;
    display: none;
}
img {
    max-width: 100%;
    height: auto;
}
h4 {
    margin: 10px 0;
}