      #wrap {
        max-width: 1400px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
      }
      .list {
          width:420px;
        }      
        .list ul {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          gap: 1rem;

          list-style:none;
          margin:0;
          padding:0;
        }
        .list ul li {
          display:inline-table;        
          cursor: pointer;
				}
				

      /* 라이트 박스 안의 이미지 */
        #box img {
          border:5px solid #eee;
          min-width: 40vw;
          max-width: 100%;
        } 
        #box {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        #box img {
          margin: 0 0 20px 0 ;
        }