
div#wrap {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Nanum Gothic', sans-serif;
    background: rgb(255,224,238);
    background: linear-gradient(140deg, rgba(255,224,238,1) 0%, rgba(224,238,255,1) 100%);
    padding: 10px 5rem;
}
#wrap a {
    color: #333;
}
#wrap p {
    text-align: center;
}
#wrap ul {
    width: inherit;
    display: none;
    margin: 20px 0;
    padding: px;
}
#wrap ul>li {
    display: flex;
    justify-content: center;
}
#wrap>.btn {
    padding: 15px 5px;
    background: linear-gradient(45deg, #515ada 0%, #efd5ff 100%);
    border-radius: 10px;
    margin: 10px 20px;
}
#wrap>.btn>a {
    color: #fff;
}
#wrap>.btn:hover {
    opacity: 80%;
}
#wrap p>a {
    font-size: 25px;
    font-weight: 800;    
}
#wrap ul li a p {
    margin: 18px 0;
    font-size: 18px;
    font-weight: 400;
}
img {
    width: 40vh;
    margin-bottom: 30px;
    border: 6px solid #fff;
}
img:hover {
    opacity: 85%;
}
