body {
    background: #ccc;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
p {
    margin: 50px 0 0 50px;
}
pre {
    white-space: pre-wrap;
    margin: 30px 50px 0 50px;
}

header {
    width: 100%;
    padding: 20px 20px 20px 50px;
    background: #232323;
}
h1 {
    color: #fff;
}

/* 1st popup */
.popup {
    background: #fff;
    width: 320px;
    height: 460px;
    border: 1px solid #ccc;
    padding: 20px 30px; 
    
}
.popup li {
    list-style: none;
    padding: 0;
    margin: 0 0 15px -40px;
    line-height: 1.5rem;
}
.popup button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 16px;
    padding: 8px 15px;
    border-radius: 50px;
    border: thin solid #ddd;
    background: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}
.popup button:hover {
    background: #000;
    color: #fff;
}
#notice {
    position: absolute;
    left: 50px;
    top: 126px;
    z-index: 9999;
}

/* 2nd popup */
.popup2 {
    position: absolute;
}
.popup2 button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 16px;
    padding: 8px 15px;
    border-radius: 50px;
    border: none;
    background: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}
.popup2 button:hover {
    background: #000;
    color: #fff;
}
#event {
    position: absolute;
    left: 433px;
    top: 126px;
    z-index: 9998
}